<!--
============================================
; Title:  app.component.html
; Author: Jake Seever
; Date:   28 July 2019
; Description: app.component.html
;===========================================
-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item">
      <a [routerLink]="['/']" class="nav-link">Home</a>
    </li>

    <li>
      <a [routerLink]="['/product']" class="nav-link">Product Detail</a>
    </li>

    <li>
      <a [routerLink]="['/login']" class="nav-link">Login</a>
    </li>

  </ul>
</nav>

<router-outlet></router-outlet>
