/* --
============================================
; Title:  home.component.css
; Author: Jake Seever
; Date:   10 August 2019
; Description: CSS for the md login example.
;===========================================
-- */


@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Flex Styles */
.wrapper { width: 100%; margin-top: 10%; }
.parent { min-height: 500px; }
.left { background-color: darkgreen; width: 25%; }
.right { background-color:white; width: 75%; }

/* Heading Styles */
h2 {margin-left: 5%; color: darkgreen; }

/* Form Styles */
/* Form Styles */
.frm-login { width: 70%;  margin: 0 auto; }
.frm-login-panel { border: 2px solid black; margin-top: 5% }
.frm-login-header { background-color: green; }
.frm-login-toolbar { background-color: green; color: white; }
.frm-login-body { display: flex; flex-direction: column; margin-top: 15px; }
.btn-login { background-color: green; color: white; }
.frm-login-actions { text-align: right; }
