/* --
============================================
; Title:  home.component.css
; Author: Jake Seever
; Date:   10 August 2019
; Description: CSS for the md login example.
;===========================================
-- */

/* Flex Styles */
.parent { min-height: 500px; }
.left { background-color: darkgreen; width: 25%; }
.right { background-color:white; width: 75%; }
h1 {text-align: center; color: darkgreen; margin-top: 4%;}

/* Global Styles */
.wrapper { width: 100%; margin-top: 10%; }
