/* --
============================================
; Title:  app.component.css
; Author: Jake Seever
; Date:   23 August 2019
; Description: CSS for the app component template form example.
;===========================================
-- */

/* Global Styles */
.greetingRow { width: 100%; min-height: 700px; }
a {text-decoration: none; color: white;}

/* Flex Styles */
.parent { min-height: 5000px; background-color: burlywood; padding: 1%;}
.left { background-color: darkgreen; width: 25%; }
.right { background-color:white; width: 75%; }

/* Form and Card Styles */
mat-card { margin: auto; margin-top: 5%; padding: 2%;}
#bottomCard { margin-top: 6%; background-color: green;}
h3 {text-align: center; color: darkgreen; margin-top: 2%;}
h4 {width: 50%; text-align: center;}
h1 { text-align: center;}
.label { margin-top: 3%;}
.form-example {display: flex; flex-direction: column;}
.form-example > * {width: 65%;}
